.Nav {
    background-color: #5bff89;
    color: black;
    text-align: center;
    width: 10vw;
    height: 100vh;
}

.match-box {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #5bff89;
    border-radius: 0.5rem;
}

.home-page {
    background-color: #5bff89;
    color: black;
}

.match-page {
    background-color: #5bff89;
    color: black;
}
